<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>TRAVEL BUDDY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <main>
        <form action="">
            <h3>TRAVEL BUDDY</h3>
            <label for="location">Enter your destination></label>
            <input type="text" id="location" name="destination" value="" placeholder="Enter your destination">
            <label for="tripdate">Enter travel date</label>
            <input type="date" id="tripdate" name="traveldate" value="">
            <label for="end-date">Enter return date</label>
            <input type="date" id="end-date" name="travel-end-date" value="">
            <input type="submit" value="submit" id="submit">
        </form>
        <div class="display">
            <p id="weather"></p>
            <p id="triplength"></p>
        </div>
    </main>
</body>

</html>