<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>TRAVEL BUDDY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <header class="header">
        <h1>TRAVEL BUDDY</h1>
    </header>
    <main>
        <div id="app">
            <div id="overview">
                <h2 id="trip-caption">Trip Caption</h2>
                <div class="photo">
                    <img src="https://picsum.photos/seed/picsum/300/300" alt="pixabay image" id="image">
                </div>
            </div>
            <div id="travel-info">
                <h2 id="trip-head">Hello</h2>
                <h2 id="depart"></h2>
                <h2 id="weather"></h2>
                <h2 id="sunset"></h2>
                <h2 id="triplength"></h2>
                <h2 id="weather-description"></h2>
            </div>
            <div id=form>
                <form>
                    <label for="location">Enter destination</label>
                    <input type="text" id="location" name="destination" value="" placeholder="Enter your destination">
                    <label for="location">Enter travel date</label>
                    <input type="date" id="tripdate" name="traveldate" value="">
                    <label for="end-date">Enter return date</label>
                    <input type="date" id="end-date" name="travel-end-date" value="">
                    <input type="submit" value="submit" id="submit">
                </form>
            </div>
        </div>
        <footer id="footer">
        </footer>
    </main>
    <!-- <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script> -->
</body>

</html>