<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>TRAVEL BUDDY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
         :hover {
            color: blue;
        }
    </style>

</head>


<body>
    <header class="header">
        <h1>TRAVEL BUDDY</h1>
    </header>
    <main>
        <div id="app">
            <div id=form>
                <form>
                    <input type="text" id="location" name="destination" value="" placeholder="Enter your destination">
                    <input type="date" id="tripdate" name="traveldate" value="">
                    <input type="date" id="end-date" name="travel-end-date" value="">
                    <input type="submit" value="submit" id="submit">
                </form>
            </div>
            <div id="display">
                <p id="weather"></p>
                <p id="triplength"></p>
            </div>
            <div class="photo">
                <img src="" alt="" id="image">
            </div>
        </div>
    </main>
</body>

</html>