//body general styles
body {
    margin: 0;
    font-family: fantasy;
    max-height: 100vh;
}

// header styling
header {
    height: 25vh;
    font-size: 2rem;
    margin-left: 2rem;
}

#app {
    background-color: #FFB6C1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
}

#overview {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#display {
    text-align: center;
}

#footer {
    height: 5vh;
}